<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<!-- Başlık gibi collapse menü -->
<h3
  class="collapse-header text-white"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#colorCollapse"
  aria-expanded="false"
  aria-controls="colorCollapse"
  style="cursor: pointer;"
>
  Colors
  <i class="bi bi-caret-down-fill"></i>
</h3>

<!-- Collapse içeriği -->
<div class="collapse" id="colorCollapse">
  <ul class="list-group mt-2">
    <div class="mb-3">
      <label for="filterText" class="form-label">Search</label>
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="filterText"
        placeholder="Look for ..."
      />
    </div>
    
    <div *ngIf="filterText" class="alert alert-primary">
      {{ filterText }} aradınız
    </div>
    
    <li
      *ngFor="let color of colors |brandfilterpipe:filterText"
      (click)="setCurrentColor(color)"
      routerLink="cars/color/{{ color.id }}"
      [class]="getCurrentColorClass(color)"
      class="list-group-item"
    >
      {{ color.name }}
    </li>
  </ul>
</div>
