<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>Admin Panel</h2>
      <li class="nav-header">EXAMPLES</li>
      <li class="nav-item">
        <a href="calendar.html" class="nav-link">
          <i class="nav-icon far fa-calendar-alt"></i>
          <p>
            Calendar
            <span class="badge badge-info right">2</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="gallery.html" class="nav-link">
          <i class="nav-icon far fa-image"></i>
          <p>Gallery</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="kanban.html" class="nav-link active">
          <i class="nav-icon fas fa-columns"></i>
          <p>Kanban Board</p>
        </a>
      </li>
    </div>
    <div class="col-md-9"></div>
  </div>
</div>
