<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2 class="admin-panel-title">Admin Panel</h2>
      <ul class="nav nav-pills flex-column">
        <li class="nav-header">EXAMPLES</li>
        <li class="nav-item">
          <a
            (click)="showComponent('color')"
            class="nav-link"
            [ngClass]="{ active: activeComponent === 'color' }"
          >
            <i class="bi bi-palette"></i>
            <p>Color</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            (click)="showComponent('brand')"
            class="nav-link"
            [ngClass]="{ active: activeComponent === 'brand' }"
          >
            <i class="nav-icon fas fa-tags"></i>
            <p>Brand</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            (click)="showComponent('customer')"
            class="nav-link"
            [ngClass]="{ active: activeComponent === 'customer' }"
          >
            <i class="nav-icon fas fa-users"></i>
            <p>Customers</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <app-color *ngIf="activeComponent === 'color'"></app-color>
      <app-brand *ngIf="activeComponent === 'brand'"></app-brand>
      <app-customer *ngIf="activeComponent === 'customer'"></app-customer>
    </div>
  </div>
</div>
