<div class=" container-fixed ">
    <div class="row">

        <div class="col-md-4 shadow-lg ">
            <div id="carImagesCarousel" class="carousel slide p-5" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let image of images; let i = index" [ngClass]="{'active': i === 0}">
                        <img [src]="image.imagePath" class="d-block w-100 shadow-lg"   alt="Car Image">
                        
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carImagesCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carImagesCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>


        <div class="col-md-8 shadow-lg">
            <p>Car ID: {{images[1].carId}}</p>
            <p>Adding Date: {{images[1].addingDate}}</p>
            


            
        </div>
    </div>
</div>
