<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<h3
  class="collapse-header"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#customerCollapse"
  aria-expanded="false"
  aria-controls="customerCollapse"
  style="cursor: pointer"
>
  Customers
  <i class="bi bi-caret-down-fill"></i>
</h3>



<!-- Collapse içeriği -->
<div class="collapse" id="customerCollapse">
  <ul class="list-group mt-2">
    <li *ngFor="let customer of customers" class="list-group-item">
      <strong>ID:</strong> {{ customer.id }}<br />
      <strong>First Name:</strong> {{ customer.firstName }}<br />
      <strong>Last Name:</strong> {{ customer.lastName }}<br />
      <strong>Email:</strong> {{ customer.email }}<br />
      <strong>Company Name:</strong> {{ customer.companyName }}
    </li>
  </ul>
</div>
